.searchbtncontainer{
    margin-bottom: 10px;
}
.backbtn{
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox{
    height: 30px;
    width: 80%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #777;
}
.searchbtn{
    width: 10%;
}
.chataccbtn{
    padding: 5px;
    text-decoration: none;
    color: black;
}
.chataccbtn:hover{
    background-color: lightgray;
    border-radius: 10px;
}